.vscode
.idea
*.pyc
__pycache__/
.pytest_cache/
.DS_Store/

*.swp
*~

build/
dist/
eggs/
.eggs/
*.egg-info/
test/
examples/
.pypirc
/poetry.lock
logs
/tests/integration_tests/batchoutput.jsonl
/tests/integration_tests/content_batchoutput.jsonl
/tests/integration_tests/write_to_file_batchoutput.jsonl
